
<div id="sidebar-wrapper" class="collapse sidebar-collapse">
	
	<div id="search">
		<form>
			<input class="form-control input-sm" type="text" name="search" placeholder="Search..." />

			<button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
		</form>		
	</div> <!-- #search -->

	<nav id="sidebar">		
		
		<ul id="main-nav" class="open-active">			
			
			
			<li class="active'">
				<a href="{$basedomain}article">
					<i class="fa fa-list-alt"></i>
					News
				</a>				
			</li>	
			
			<li class="">
				<a href="{$basedomain}slideshow">
					<i class="fa fa-play"></i>
					Slide Show
				</a>				
			</li>	
			
			<li class="dropdown ">
				<a href="javascript:;">
					<i class="fa fa-file-text"></i>
					Page
					<span class="caret"></span>
				</a>
					<ul class="sub-nav">
					<li>
						<a href="{$basedomain}page/profile/?page=tentang-pnj">
							<i class="fa fa-building"></i> 
							Tentang PNJ
						</a>
					</li>
					<li>
						<a href="{$basedomain}page/profile/?page=tentang-cdc">
							<i class="fa fa-exclamation-circle"></i> 
							Tentang CDC
						</a>
					</li>
					<li>
						<a href="{$basedomain}page/profile/?page=visi-misi">
							<i class="fa fa-book"></i> 
							Visi dan Misi
						</a>
					</li>
					<li>
						<a href="{$basedomain}page/profile/?page=staff">
							<i class="fa fa-group"></i> 
							Staff
						</a>
					</li>
					<li>
						<a href="{$basedomain}page/profile/?page=sejarah">
							<i class="fa fa-puzzle-piece"></i> 
							Sejarah
						</a>
					</li>
					<li>
						<a href="{$basedomain}page/profile/?page=kontak">
							<i class="fa fa-phone"></i> 
							Kontak
						</a>
					</li>
					<li>
						<a href="{$basedomain}page/profile/?page=jobseeker">
							<i class="fa fa-briefcase"></i> 
							Job Seeker
						</a>
					</li>
					<li>
						<a href="{$basedomain}page/profile/?page=corporate">
							<i class="fa fa-globe"></i> 
							Corporate
						</a>
					</li>
					<li>
						<a href="{$basedomain}page/profile/?page=advertise">
							<i class="fa fa-thumb-tack"></i> 
							Advertise
						</a>
					</li>
				</ul>
			</li>
			
			
			<li class="">
				<a href="{$basedomain}page/get_ads">
					<i class="fa fa-credit-card"></i>
					Advertise
				</a>			
			</li>
			
			<li class="dropdown ">
				<a href="javascript:;">
					<i class="fa fa-user"></i>
					User
					<span class="caret"></span>
				</a>
				<ul class="sub-nav">
					<li>
						<a href="{$basedomain}setting/usr_setting">
							<i class="fa fa-cogs"></i> 
							Settings
						</a>
					</li>
					<li>
						<a href="{$basedomain}setting/crt_user">
							<i class="fa fa-plus"></i> 
							User Member
						</a>
					</li>
				</ul>
			</li>
			<li class="">
				<a href="{$basedomain}article/trash">
					<i class="fa fa-trash-o"></i>
					Trash
				</a>			
			</li>
			
		</ul>
				
	</nav> <!-- #sidebar -->

</div> <!-- /#sidebar-wrapper -->